xml-resources/web-service-references/PokerWS/wsdl/localhost_8084/PokerService/PokerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.xcoders.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.xcoders.com/">

<xs:element name="TabonaException" nillable="true" type="tns:myServiceFault" />

<xs:complexType name="table">
<xs:sequence>
<xs:element name="bigBindId" type="xs:int" minOccurs="0" />
<xs:element name="cardPack" type="tns:cardPack" minOccurs="0" />
<xs:element name="dealerId" type="xs:int" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="maxBet" type="xs:int" minOccurs="0" />
<xs:element name="playCards" type="tns:card" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="players" type="tns:player" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="pot" type="xs:int" minOccurs="0" />
<xs:element name="round" type="xs:int" minOccurs="0" />
<xs:element name="smallBindId" type="xs:int" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cardPack">
<xs:sequence />
</xs:complexType>

<xs:complexType name="card">
<xs:sequence>
<xs:element name="type" type="xs:int" minOccurs="0" />
<xs:element name="value" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="player">
<xs:sequence>
<xs:element name="bet" type="xs:int" minOccurs="0" />
<xs:element name="cards" type="tns:card" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="hasDiscardedThirdCard" type="xs:boolean" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="money" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="myServiceFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:string" minOccurs="0" />
<xs:element name="faultString" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>