xml-resources/web-service-references/PokerWS_1/wsdl/localhost_8084/PokerService/PokerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.xcoders.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.xcoders.com/" name="PokerWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.xcoders.com/" schemaLocation="http://localhost:8084/PokerService/PokerWS?xsd=1" />
</xsd:schema>
</types>
<message name="placeSmallBind">
<part name="tableId" type="xsd:int" />
<part name="userId" type="xsd:long" />
<part name="amount" type="xsd:int" />
</message>
<message name="placeSmallBindResponse" />
<message name="PokerException">
<part name="fault" element="tns:TabonaException" />
</message>
<message name="placeBigBind">
<part name="tableId" type="xsd:int" />
<part name="userId" type="xsd:long" />
<part name="amount" type="xsd:int" />
</message>
<message name="placeBigBindResponse" />
<message name="discardCard">
<part name="tableId" type="xsd:int" />
<part name="playerId" type="xsd:long" />
<part name="card" type="tns:card" />
</message>
<message name="discardCardResponse" />
<message name="bet">
<part name="tableId" type="xsd:int" />
<part name="playerId" type="xsd:long" />
<part name="amount" type="xsd:int" />
</message>
<message name="betResponse" />
<message name="fold">
<part name="tableId" type="xsd:int" />
<part name="playerId" type="xsd:long" />
</message>
<message name="foldResponse" />
<message name="joinGame">
<part name="playerId" type="xsd:long" />
</message>
<message name="joinGameResponse">
<part name="return" type="xsd:int" />
</message>
<message name="login">
<part name="userName" type="xsd:string" />
<part name="password" type="xsd:string" />
</message>
<message name="loginResponse">
<part name="return" type="xsd:long" />
</message>
<message name="register">
<part name="userName" type="xsd:string" />
<part name="password" type="xsd:string" />
</message>
<message name="registerResponse" />
<message name="getTable">
<part name="tableId" type="xsd:int" />
</message>
<message name="getTableResponse">
<part name="return" type="tns:table" />
</message>
<portType name="PokerWS">
<operation name="placeSmallBind" parameterOrder="tableId userId amount">
<input wsam:Action="http://ws.xcoders.com/PokerWS/placeSmallBindRequest" message="tns:placeSmallBind" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/placeSmallBindResponse" message="tns:placeSmallBindResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/placeSmallBind/Fault/PokerException" />
</operation>
<operation name="placeBigBind" parameterOrder="tableId userId amount">
<input wsam:Action="http://ws.xcoders.com/PokerWS/placeBigBindRequest" message="tns:placeBigBind" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/placeBigBindResponse" message="tns:placeBigBindResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/placeBigBind/Fault/PokerException" />
</operation>
<operation name="discardCard" parameterOrder="tableId playerId card">
<input wsam:Action="http://ws.xcoders.com/PokerWS/discardCardRequest" message="tns:discardCard" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/discardCardResponse" message="tns:discardCardResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/discardCard/Fault/PokerException" />
</operation>
<operation name="bet" parameterOrder="tableId playerId amount">
<input wsam:Action="http://ws.xcoders.com/PokerWS/betRequest" message="tns:bet" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/betResponse" message="tns:betResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/bet/Fault/PokerException" />
</operation>
<operation name="fold" parameterOrder="tableId playerId">
<input wsam:Action="http://ws.xcoders.com/PokerWS/foldRequest" message="tns:fold" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/foldResponse" message="tns:foldResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/fold/Fault/PokerException" />
</operation>
<operation name="joinGame">
<input wsam:Action="http://ws.xcoders.com/PokerWS/joinGameRequest" message="tns:joinGame" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/joinGameResponse" message="tns:joinGameResponse" />
</operation>
<operation name="login" parameterOrder="userName password">
<input wsam:Action="http://ws.xcoders.com/PokerWS/loginRequest" message="tns:login" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/loginResponse" message="tns:loginResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/login/Fault/PokerException" />
</operation>
<operation name="register" parameterOrder="userName password">
<input wsam:Action="http://ws.xcoders.com/PokerWS/registerRequest" message="tns:register" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/registerResponse" message="tns:registerResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/register/Fault/PokerException" />
</operation>
<operation name="getTable">
<input wsam:Action="http://ws.xcoders.com/PokerWS/getTableRequest" message="tns:getTable" />
<output wsam:Action="http://ws.xcoders.com/PokerWS/getTableResponse" message="tns:getTableResponse" />
<fault message="tns:PokerException" name="PokerException" wsam:Action="http://ws.xcoders.com/PokerWS/getTable/Fault/PokerException" />
</operation>
</portType>
<binding name="PokerWSPortBinding" type="tns:PokerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="placeSmallBind">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="placeBigBind">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="discardCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="bet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="fold">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="joinGame">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
<operation name="getTable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://ws.xcoders.com/" />
</output>
<fault name="PokerException">
<soap:fault name="PokerException" use="literal" />
</fault>
</operation>
</binding>
<service name="PokerWSService">
<port name="PokerWSPort" binding="tns:PokerWSPortBinding">
<soap:address location="http://localhost:8084/PokerService/PokerWS" />
</port>
</service>
</definitions>